config/secrets.yml
Gemfile.lock
coverage/*
!coverage/.resultset.json
*.db
.venv
.bundle/
cache/*
tmp/hf_cache/**
tmp/hf_cache/models--sentence--transformers--all-MiniLM-L6-v2
spec/fixtures/cassettes/arxiv_api.yml
